/* ============== 
 BOX MODEL RESET ↓
================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== 
 FONTS ↓
======== */

@font-face {
  font-family: "outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.woff2) format("woff2"); /* By declaring the format the browser reads it and in case it isn't supported, the user won't spend data in assets the browser won't be able to use */
  font-weight: 100 900; /* covers all weights (100-900) to save loading time */
  font-style: normal;
  font-display: swap; /* Accessibility: shows fallback font while oufit loads */
}

@font-face {
  font-family: "young-serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.woff2) format("woff2");
  font-weight: 400; /* used for the recipe title */
  font-style: normal;
  font-display: swap;
}

/* Entiendo que es recomendable transformar las fuentes de ttf a woff2 para hacerlas más ligeras y que carguen más rápido */

/* =================
DESIGN TOKEN VAULT ↓
==================== */
:root {
  /* ------
  SPACING ↓
  --------- */

  /* PRIMITIVE SPACING (The what, raw units) */
  --sp-1600: 8rem; /* 128px */
  --sp-600: 3rem; /* 48px */
  --sp-500: 2.5rem; /* 40px */
  --sp-400: 2rem; /* 32px */
  --sp-350: 1.75rem; /* 28px */
  --sp-300: 1.5rem; /* 24px */
  --sp-250: 1.25rem; /* 20px */
  --sp-200: 1rem; /* 16px */
  --sp-150: 0.75rem; /* 12px */
  --sp-100: 0.5rem; /* 8px */

  /* VIEWPORT BOUNDARIES */
  --sp-wd-min: 23.4375rem; /* 375px Mobile, min-width */
  --sp-wd-max: 46rem; /* 736px Dessktop, max-width */

  /* SEMANTIC SPACING (the why, the purpose) */

  --wd-recipe-card: clamp(var(--sp-wd-min), 90vw, var(--sp-wd-max));

  --fs-title: var(--sp-500); /* 40px */
  --fs-subtitle: var(--sp-350); /* 28px */
  --fs-prep-time: var(--sp-250); /* 20px */
  --fs-paragraph: var(--sp-200); /* 16px */

  --pd-recipe-card: var(--sp-500);

  --br-big: var(--sp-300);
  --br-small: var(--sp-150);

  /* ------
  SPACING ↑
  --------- */

  /* ----
  COLOR ↓
  ------- */

  /* PRIMITIVE COLOR */
  --clr-stone-100: hsl(30, 54%, 90%); /* body background */
  --clr-white: rgba(255, 255, 255, 70%); /* card background */
  --clr-rose-50: hsl(330, 100%, 98%); /* prep-time background */
  --clr-stone-900: hsl(24, 5%, 18%); /* titile */
  --clr-stone-600: hsl(
    30,
    10%,
    34%
  ); /* paragraph + its bulleted points + table data */
  --clr-stone-150: hsl(30, 18%, 87%); /* */
  --clr-rose-800: hsl(
    332,
    51%,
    32%
  ); /* prep-time title + its bulleted points */
  --clr-brown-800: hsl(14, 45%, 36%); /* */

  /* SEMANTIC COLOR */
  --clr-card: var(--clr-white);
  --clr-title: var(--clr-stone-900);
  --clr-subtitle: var(--clr-brown-800);
  --clr-prep-time: var(--clr-rose-800);
  --clr-paragraph: var(--clr-stone-600);

  /* ----
  COLOR ↑
  ------- */

  /* --------
  TYPOGRAPHY ↓
  ------------ */

  /* FONT FAMILY */
  --ff-titles: "young-serif", serif;
  --ff-paragraphs: "outfit", sans-serif;

  /* FONT WEIGHT */
  --fw-paragraph: 400;
  --fw-prep-time: 600;
  --fw-bold: 700;

  /* --------
  TYPOGRAPHY ↑
  ------------ */
}
/* =================
DESIGN TOKEN VAULT ↑
==================== */

/* =================
RECIPE CARD DESIGN ↓
==================== */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-stone-100);
}

.recipe-card {
  padding: var(--pd-recipe-card);
  border-radius: var(--br-big);
  background-color: var(--clr-card);
}

/* =================
RECIPE CARD DESIGN ↑
==================== */
